@font-face {
  font-family: "cocacola";
  src: url("./fonts/LOKICOLA.TTF");
}

.navbar{
  width:100%;
  padding-bottom: 2%;
}

.content{
  text-align: center;
  font-family: avenir;
  padding-bottom: 10%;
}

.content table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.media{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a{
  text-decoration: none;
  color: inherit;
}

a:visited{
  color: inherit;
}

a#logo{
  text-align: center;
  display: block;
  font-family: cocacola;
  font-size: 400%;
}

img, video, iframe{
  max-height: 200px;
}

.mediaList{
  display: none;
}

h3{
  cursor: pointer;
}
